.skills-container {
  padding: 3% 15%;
}
.skills-before-title {
  font-size: 30px;
}
.skills-title {
  font-size: 75px;
  font-weight: 700;
  padding: 30px 0;
}
.skills-text {
  font-size: 22px;
  font-weight: 600;
  width: 70%;

}
