.menuBtn {
    width: 30px;
    height: 20px;
    position: relative;
    bottom: 2px;
    &:hover {
        cursor: pointer;
    }
    span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 9px;
        position: absolute;
    }
    &:after,
    &:before
    {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }
    &:after {
        top: 0;
    }
    &:before {
        bottom: 0;
    }
}

.burgerMenu {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: green;
    margin: 0 auto;
    li {
        padding: 12px 0;
        margin-right: 0;
    }
    &:hover {
        color: #fff !important;
        cursor: pointer;
    }
    li+li {
        padding-left: 0;
        padding-right: 0;

    }
}
.rootHeader {
    background-color: cadetblue;
}
.menuBtn.closeBtn {
    position: absolute;
    top: 35px;
    right: 55px;
}
